@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* Russian Violet */
  --violet-100: #c4a1ff;
  --violet-200: #8843ff;
  --violet-300: #5400e4;
  --violet-400: #310087;
  --violet-500: #10002b;
  --violet-600: #0c0021;
  --violet-700: #090018;
  --violet-800: #060010;
  --violet-900: #030008;
  
  --accent: #d3d3d3;

  font-family: 'Poppins', sans-serif;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  height: 100vh;
  width: 100vw;
  background-color: var(--violet-400);
  color: var(--violet-100);
}

body {
  height: 100%;
}

main {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  :root {
    --text-sm: calc(0.75rem + ((1vw - 7.68px) * 0.3472));
    --text-md: calc(1rem + ((1vw - 7.68px) * 0.3472));
    --text-lg: calc(1.5rem + ((1vw - 7.68px) * 0.6944));
    min-height: 0vw;
  }
}
@media (min-width: 1920px) {
  :root {
    --text-sm: 16px;
    --text-md: 20px;
    --text-lg: 32px;
  }
}
